.header {
    background: #222c6a;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'pixel';
}
.title {
    color: white;
    font-size: 80px;
}
.subtitle {
    color: white;
    font-size: 40px;
}
.section-2 {
    background: #bd5a89;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section-3 {
    background: #000000;
    width: 100%;
    height: 1000px;
}
.how-it-works {
    color: white;
    font-size: 50px;
}
.column-1 {
    background-color: rgba(49, 49, 49, 0.39);
    font-size: 30px;
    margin: 40px;
    padding-left: 20px;
}
.column-2 {
    background-color: rgba(49, 49, 49, 0.39);
    font-size: 30px;
    margin: 40px;
    color: white;
    padding-left: 20px;
}
.grid {
    margin: 50px;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border: 3px solid white;
    margin: 50px;
    font-size: 50px;
    aspect-ratio: 1 / 1;

}
@font-face {
  font-family: 'pixel'; /* Choose any name you like */
  src: url('/assets/PixelOperator.ttf') format('truetype'); /* Specify the path to your file */
  font-weight: normal; /* Optional: define weight if the font has only one */
  font-style: normal; /* Optional: define style */
}