.header {
    background: url('/assets/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;

    justify-content: center;
    text-align: center;
    background-position: center bottom; 
}
body {
    margin: 0;
    padding: 0;
    font-family: 'pixel';
}
.logo {
    width: 60vw;
    margin-top: 10vh;
}
.subtitle {
    color: white;
    font-size: 40px;
}
.section-2 {
    background: #0f1240;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section-3 {
    background: #0f1240;
    width: 100%;
    height: 1000px;
}
.how-it-works {
    color: white;
    font-size: 50px;
}
.column-1 {
    border: #90ffb7 4px solid;
    font-size: 30px;
    margin: 40px;
    padding-left: 20px;
}
.column-2 {
    border: #78f1ff 4px solid;
    font-size: 30px;
    margin: 40px;
    color: white;
    padding-left: 20px;
}
.container {
    padding: 50px;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons {
    width: 80vw;
}
.title {
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
}
@font-face {
  font-family: 'pixel'; /* Choose any name you like */
  src: url('/assets/PixelOperator.ttf') format('truetype'); /* Specify the path to your file */
  font-weight: normal; /* Optional: define weight if the font has only one */
  font-style: normal; /* Optional: define style */
}