html {
  background-color: #0f1240; /* The desired overscroll color (e.g., a shade of orange) */
}
.header {
    background: url('/assets/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-position: center bottom;
    position: relative;
}
.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'pixel';
    overflow-x: hidden;
}
.header-text {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    transform: translateY(0);
}
.logo {
    width: 60vw;
    margin-top: 10vh;
}
.subtitle {
    color: white;
    font-size: 40px;
}
.section-2 {
    background: #0f1240;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer {
    background: #0f1240;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font: 'pixel';
    font-size: 50px;
    padding-bottom: 30px;
    grid-template-columns: 1fr 1fr;
}
.section-3 {
    background: #0f1240;
    width: 100%;
}
.how-it-works {
    color: white;
    font-size: 50px;
}
.column-1 {
    border: #90ffb7 4px solid;
    font-size: 30px;
    margin: 40px;
    padding: 20px;
}
.column-2 {
    border: #78f1ff 4px solid;
    font-size: 30px;
    margin: 40px;
    color: white;
    padding: 30px;
}
.container {
    padding: 50px;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons {
    width: 100vw;
}
.title {
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
}
.buttons-container {
    position: relative;
}
.shooter {
    position: absolute;
    width: 39.6%;
    height: 32.5%;
    top: 27.5%;
    left: 31%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    image-rendering: pixelated; /* Ensures crisp edges when scaled up */
    image-rendering: crisp-edges; /* Fallback for better browser compatibility */
}

@font-face {
  font-family: 'pixel'; /* Choose any name you like */
  src: url('/assets/PixelOperator.ttf') format('truetype'); /* Specify the path to your file */
  font-weight: normal; /* Optional: define weight if the font has only one */
  font-style: normal; /* Optional: define style */
}